<div class="row">
  <div class="form-group col-sm-6">
    <input type="text" value="<%= customer.shipping_name %>" class="form-control" name="fullname" placeholder="Họ và tên">
  </div>
  <div class="form-group col-sm-6">
    <input type="tel" value="<%= customer.shipping_mobile %>" class="form-control" name="mobile" placeholder="Số điện thoại">
  </div>
  <div class="form-group col-sm-4">
    <select name="province" class="form-control province">
      <option value="">Tỉnh / thành phố</option>
      <% for(const province of provinces){ %>
      <option <%= selected_province_id == province.id ? 'selected': '' %> value="<%= province.id%>"><%= province.name %></option>
      <%}%>
      </select>
    </div>
    <div class="form-group col-sm-4">
      <select name="district" class="form-control district">
        <option value="">Quận / huyện</option>
        <% for(const district of districts){ %>
      <option <%= selected_district_id == district.id ? 'selected': '' %> value="<%= district.id%>"><%= district.name%></option>
      <%}%>
      </select>
    </div>
    <div class="form-group col-sm-4">
      <select name="ward" class="form-control ward">
        <option value="">Phường / xã</option>
        <% for(const ward of wards){ %>
      <option <%= selected_ward_id == ward.id ? 'selected': '' %> value="<%= ward.id %>"><%= ward.name%></option>
      <% } %>
    </select>
  </div>
  <div class="form-group col-sm-12">
    <input type="text" value="<%= customer.housenumber_street %>" class="form-control" placeholder="Địa chỉ" name="address">
  </div>
</div>