<form class="create-article" action="/admin/product/update" method="POST" enctype="multipart/form-data">
  <div class="card-header">
    <h1 class="card-title">Sửa sản phẩm</h1>
  </div>
  <input type="hidden" name="id" value="<%= product.id %>">
  <h6 class="font-weight-bold">Hình đại diện</h6>
  <div class="oIContainer">
    <div>Hình hiện tại:</div>
    <img id="old-file" class="old-image mb-3" src="/images/<%= product.featured_image %>" alt="">
  </div>
  <div>Hình muốn đổi:</div>
  <div class="pIContainer" style="display: none;">
    <img class="preview-image file-preview" src="#" alt="Preview Uploaded Image">
  </div>

  <div class="custom-file mb-3" style="width: 100%;">
    <input type="file" class="file-upload" name="img" accept="image/*" class="custom-file-input" id="post_img">
    <label class="custom-file-label" for="post_img">Choose an image</label>
  </div>


  <h6 class="font-weight-bold">Barcode</h6>
  <input class="form-control form-control-lg" type="text" placeholder="Enter barcode" name="barcode" value="<%= product.barcode %>">

  <br>
  <h6 class="font-weight-bold">SKU</h6>
  <input class="form-control form-control-lg" type="text" placeholder="Enter SKU" name="sku" value="<%= product.sku %>">

  <br>

  <h6 class="font-weight-bold">Tên SP</h6>
  <input class="form-control form-control-lg" placeholder="Enter product name" name="name" value="<%= product.name %>"></input>

  <br>
  <!-- CODE BỔ SUNG -->
  <h6 class="font-weight-bold">Giá (VND)</h6>
  <input class="form-control form-control-lg" type="text" placeholder="Enter price" name="price" value="<%= product.price %>">

  <br>

  <h6 class="font-weight-bold">Giảm giá (%)</h6>
  <input class="form-control form-control-lg" type="text" placeholder="Enter discount percentage" name="discount_percentage" value="<%= product.discount_percentage %>">

  <br>

  <h6 class="font-weight-bold">Ngày bắt đầu giảm giá</h6>
  <input class="form-control form-control-lg" type="date" placeholder="Enter discount from date" name="discount_from_date" value="<%= product.discount_from_date %>">

  <br>

  <h6 class="font-weight-bold">Ngày kết thúc giảm giá</h6>
  <input class="form-control form-control-lg" type="date" placeholder="Enter discount to date" name="discount_to_date" value="<%= product.discount_to_date %>">

  <br>

  <h6 class="font-weight-bold">Số lượng hàng trong kho</h6>
  <input class="form-control form-control-lg" type="text" placeholder="Enter inventory quantity" name="inventory_qty" value="<%= product.inventory_qty %>">

  <br>

  <h6 class="font-weight-bold">Mô tả sản phẩm</h6>
  <textarea class="form-control form-control-lg ckeditor" id="editor" placeholder="Enter product description" name="description" rows="5"><%= product.description %></textarea>
  <br>

  <h6 class="font-weight-bold">Danh mục</h6>
  <select class="form-control form-control-lg" name="category_id">
    <% categories.forEach((category) => { %>
    <option value="<%= category.id %>" <%= product.category_id == category.id ? 'selected' : '' %>>
      <%= category.name %>
    </option>
    <% }) %>
  </select>

  <br>
  <h6 class="font-weight-bold">Thương hiệu</h6>
  <select class="form-control form-control-lg" name="brand_id">
    <% brands.forEach((brand) => { %>
    <option value="<%= brand.id %>" <%= product.brand_id == brand.id ? 'selected' : '' %>>
      <%= brand.name %>
    </option>
    <% }) %>
  </select>

  <br>
  <h6 class="font-weight-bold">Nổi bật</h6>
  <select class="form-control form-control-lg" name="featured">
    <option value="0">Không nổi bật</option>
    <option value="1">Nổi bật</option>
  </select>
  <br><br>
  <div class="form-group">
    <button class="btn btn-success" type="submit">Lưu</button>
  </div>
</form>

<!-- CKEDITOR START -->
<script src=" /admin/js/ckeditor.js"></script>

<script>
  document.querySelectorAll('.ckeditor').forEach(function(textarea) {
    textarea.id = 'editor';
    console.log('cononon');
    // This sample still does not showcase all CKEditor&nbsp;5 features (!)
    // Visit https://ckeditor.com/docs/ckeditor5/latest/features/index.html to browse all the features.

    CKEDITOR.ClassicEditor.create(document.getElementById(`${textarea.id}`), {
      ckfinder: {
        uploadUrl: '/admin/home/ckfinder'
      },
      // https://ckeditor.com/docs/ckeditor5/latest/features/toolbar/toolbar.html#extended-toolbar-configuration-format
      toolbar: {
        items: [
          'exportPDF', 'exportWord', '|',
          'findAndReplace', 'selectAll', '|',
          'heading', '|',
          'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
          'bulletedList', 'numberedList', 'todoList', '|',
          'outdent', 'indent', '|',
          'undo', 'redo',
          '-',
          'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
          'alignment', '|',
          'link', 'uploadImage', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
          'specialCharacters', 'horizontalLine', 'pageBreak', '|',
          'textPartLanguage', '|',
          'sourceEditing',
        ],
        shouldNotGroupWhenFull: true
      },
      // Changing the language of the interface requires loading the language file using the <script> tag.
      // language: 'es',
      list: {
        properties: {
          styles: true,
          startIndex: true,
          reversed: true
        }
      },
      // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
      heading: {
        options: [{
            model: 'paragraph',
            title: 'Paragraph',
            class: 'ck-heading_paragraph'
          },
          {
            model: 'heading1',
            view: 'h1',
            title: 'Heading 1',
            class: 'ck-heading_heading1'
          },
          {
            model: 'heading2',
            view: 'h2',
            title: 'Heading 2',
            class: 'ck-heading_heading2'
          },
          {
            model: 'heading3',
            view: 'h3',
            title: 'Heading 3',
            class: 'ck-heading_heading3'
          },
          {
            model: 'heading4',
            view: 'h4',
            title: 'Heading 4',
            class: 'ck-heading_heading4'
          },
          {
            model: 'heading5',
            view: 'h5',
            title: 'Heading 5',
            class: 'ck-heading_heading5'
          },
          {
            model: 'heading6',
            view: 'h6',
            title: 'Heading 6',
            class: 'ck-heading_heading6'
          }
        ]
      },
      // https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#using-the-editor-configuration
      placeholder: 'Welcome to CKEditor 5!',
      // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-family-feature
      fontFamily: {
        options: [
          'default',
          'Arial, Helvetica, sans-serif',
          'Courier New, Courier, monospace',
          'Georgia, serif',
          'Lucida Sans Unicode, Lucida Grande, sans-serif',
          'Tahoma, Geneva, sans-serif',
          'Times New Roman, Times, serif',
          'Trebuchet MS, Helvetica, sans-serif',
          'Verdana, Geneva, sans-serif'
        ],
        supportAllValues: true
      },
      // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-size-feature
      fontSize: {
        options: [10, 12, 14, 'default', 18, 20, 22],
        supportAllValues: true
      },
      // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
      // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
      htmlSupport: {
        allow: [{
          name: /.*/,
          attributes: true,
          classes: true,
          styles: true
        }]
      },
      // Be careful with enabling previews
      // https://ckeditor.com/docs/ckeditor5/latest/features/html-embed.html#content-previews
      htmlEmbed: {
        showPreviews: false
      },
      // https://ckeditor.com/docs/ckeditor5/latest/features/link.html#custom-link-attributes-decorators
      link: {
        decorators: {
          addTargetToExternalLinks: true,
          defaultProtocol: 'https://',
          toggleDownloadable: {
            mode: 'manual',
            label: 'Downloadable',
            attributes: {
              download: 'file'
            }
          }
        }
      },
      // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
      mention: {
        feeds: [{
          marker: '@',
          feed: [
            '@apple', '@bears', '@brownie', '@cake', '@cake', '@candy', '@canes', '@chocolate', '@cookie', '@cotton', '@cream',
            '@cupcake', '@danish', '@donut', '@dragée', '@fruitcake', '@gingerbread', '@gummi', '@ice', '@jelly-o',
            '@liquorice', '@macaroon', '@marzipan', '@oat', '@pie', '@plum', '@pudding', '@sesame', '@snaps', '@soufflé',
            '@sugar', '@sweet', '@topping', '@wafer'
          ],
          minimumCharacters: 1
        }]
      },
      // The "superbuild" contains more premium features that require additional configuration, disable them below.
      // Do not turn them on unless you read the documentation and know how to configure them and setup the editor.
      removePlugins: [
        // These two are commercial, but you can try them out without registering to a trial.
        // 'ExportPdf',
        // 'ExportWord',
        'AIAssistant',
        'CKBox',
        'CKFinder',
        'EasyImage',
        // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
        // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
        // Storing images as Base64 is usually a very bad idea.
        // Replace it on production website with other solutions:
        // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
        // 'Base64UploadAdapter',
        'MultiLevelList',
        'RealTimeCollaborativeComments',
        'RealTimeCollaborativeTrackChanges',
        'RealTimeCollaborativeRevisionHistory',
        'PresenceList',
        'Comments',
        'TrackChanges',
        'TrackChangesData',
        'RevisionHistory',
        'Pagination',
        'WProofreader',
        // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
        // from a local file system (file://) - load this site via HTTP server if you enable MathType.
        'MathType',
        // The following features are part of the Productivity Pack and require additional license.
        'SlashCommand',
        'Template',
        'DocumentOutline',
        'FormatPainter',
        'TableOfContents',
        'PasteFromOfficeEnhanced',
        'CaseChange'
      ]
    });
  });
</script>
<!-- CKEDITOR END -->